.movieData {
    margin: 3px;
    border: 3px solid cadetblue;
}

#sql-injection-container{
}

.movieImage{
    width: 100px;
    height: 150px;
    /*border: 2px solid blue;*/
}

.movieText{
    flex-grow: 1;
    padding: 2px;
    /*border: 2px solid red;*/
}

.movieTitle{
    padding: 0 3px 3px 3px ;
}

.movieDirector{
    padding: 0 3px 3px 3px ;

}

.movieYear{
    padding: 0 3px 3px 3px ;

}

.movieGenre{
    padding: 0 3px 3px 3px ;

}

.movie {
    display: flex;
    border: 3px solid grey;
    margin: 1.5em;
    padding: 5px;
    cursor: pointer;
}

.movie:hover{
    box-shadow: 2px 3px 0 0 gray;
}

.movies {
    text-align: left;
    /*border: 3px dashed saddlebrown;*/
    height: 100%;
    width: 100%;
    position: absolute;
}

.movieSearchBox {
    /*border: 3px solid black;*/
    padding: 3px;
    text-align: center;
}
.movieSearchBox input{
    width: 70%;
    height: 2em;
}

.movieSearchBox button{
    padding: 3px;
}

.progress-and-help{
    border: 3px solid darkblue;
    text-align: right;
}

.tooltip {
    background-color: grey;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 700px;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 5px 5px 5px 7px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    right: 50%;
    margin-right: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 10%;
    margin-right: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}