.movieData {
    margin: 3px;
    border: 3px solid cadetblue;
}

#sql-injection-container{
}

.movieImage{
    width: 100px;
    height: 150px;
    /*border: 2px solid blue;*/
}

.movieText{
    flex-grow: 1;
    padding: 2px;
    /*border: 2px solid red;*/
}

.movieTitle{
    padding: 0 3px 3px 3px ;
}

.movieDirector{
    padding: 0 3px 3px 3px ;

}

.movieYear{
    padding: 0 3px 3px 3px ;

}

.movieGenre{
    padding: 0 3px 3px 3px ;

}

.movie {
    display: flex;
    border: 3px solid grey;
    margin: 1.5em;
    padding: 5px;
    cursor: pointer;
}

.movie:hover{
    box-shadow: 2px 3px 0 0 gray;
}

.movies {
    text-align: left;
    /*border: 3px dashed saddlebrown;*/
    height: 100%;
    width: 100%;
    position: absolute;
}

.movieSearchBox {
    /*border: 3px solid black;*/
    padding: 3px;
    text-align: center;
}
.movieSearchBox input{
    width: 70%;
    height: 2em;
}

.movieSearchBox button{
    padding: 3px;
}
