#header-container {
    border: 2px solid orange;
}

.header-navi {
    border: 2px solid green;

}

.myDiv {
    /*width: 340px;*/
    background-color: blue;
    /*height: 12px;*/
    border: 1px solid black;
}

/*.movieData {*/
/*    margin: 3px;*/
/*    border: 3px solid cadetblue;*/
/*}*/

/*.movie {*/
/*    padding: 1px;*/
/*    border: 3px solid grey;*/
/*    height: 7em;*/
/*    margin: 1em;*/
/*}*/

/*.movies {*/
/*    text-align: left;*/
/*    border: 3px dashed saddlebrown;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*}*/

/*.movieSearchBox {*/
/*    border: 3px solid black;*/
/*    text-align: center;*/
/*}*/
/*.movieSearchBox input{*/
/*    width: 70%;*/
/*}*/

/*.progress-and-help{*/
/*    border: 3px solid darkblue;*/
/*    text-align: right;*/
/*}*/

.productData {
    margin: 3px;
    border: 1px solid cadetblue;
}

.product {
    padding: 1px;
    margin: 1px;
    border: 1px solid red;
}

/*.tooltip {*/
/*    background-color: grey;*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    border-bottom: 1px dotted black; !* If you want dots under the hoverable text *!*/
/*}*/

/*!* Tooltip text *!*/
/*.tooltip .tooltiptext {*/
/*    visibility: hidden;*/
/*    width: 700px;*/
/*    background-color: #555;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    padding: 5px 0;*/
/*    border-radius: 6px;*/

/*    !* Position the tooltip text *!*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    bottom: 125%;*/
/*    right: 50%;*/
/*    margin-right: -60px;*/

/*    !* Fade in tooltip *!*/
/*    opacity: 0;*/
/*    transition: opacity 0.3s;*/
/*}*/

/*!* Tooltip arrow *!*/
/*.tooltip .tooltiptext::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    right: 10%;*/
/*    margin-right: -5px;*/
/*    border-width: 5px;*/
/*    border-style: solid;*/
/*    border-color: #555 transparent transparent transparent;*/
/*}*/

/*!* Show the tooltip text when you mouse over the tooltip container *!*/
/*.tooltip:hover .tooltiptext {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*}*/

.productImage {
    border: 2px solid blue;
    text-align: left;
}

.productName {
    font-size: 26px;
    font-weight: bold;
    border: 2px solid deeppink;
}

.productNameContainer {
    border: 2px solid green;
    display: inline-block;

}

.price {
    font-size: 20px;
    color: red;
    font-weight: bold;
    border: 2px solid darkblue;
}

.priceContainer {
    border: 2px solid orange;
    display: inline-block;

}

.description {
    font-size: 20px;
    color: black;
    font-weight: bold;
    border: 2px solid darkred;
}

.descriptionContainer {
    border: 2px solid orange;
    display: inline-block;
}

.postData {
    margin: 3px;
    border: 1px solid cadetblue;
}

.post {
    padding: 1px;
    margin: 1px;
    border: 1px solid red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.topnav {*/
/*    background-color: blue;*/
/*    border: 2px solid red;*/
/*    position: relative;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    height: 10%;*/
/*    text-align: right;*/
/*}*/

/*.topnav li {*/
/*    display: inline-block;*/
/*    border: 1px solid white;*/
/*    list-style-type: none;*/
/*    margin: 2em 0.5em 2em 0.5em;*/
/*    padding: 3px;*/
/*}*/

/*.topnav li a {*/
/*    color: white;*/
/*    font-size: 1.5em;*/
/*    text-decoration: none;*/
/*}*/

/*.sidebar {*/
/*    background-color: darkorange;*/
/*    width: 15%;*/
/*    height: 100%;*/
/*    overflow-y: auto;*/
/*    border: 1px solid green;*/
/*    display: inline-block;*/

/*}*/


/*.attack-menu li {*/
/*    list-style-type: none;*/
/*    border: 1px solid white;*/
/*    font-size: 1.5em;*/
/*}*/

/*.attack-menu li a {*/
/*    text-decoration: none;*/
/*    display: block;*/
/*    color: white;*/
/*}*/

/*.attack-demo-window {*/
/*    border: 5px dashed darkorchid;*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.web-attacks-container {*/
/*    height: 100%;*/
/*    width: 85%;*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    border: 5px solid crimson;*/
/*}*/
/*#xxe-injection-product-container {*/
/*    display: block;*/
/*}*/