
.pageHeader {
    color: rgb(252, 99, 88);
    /*border: 2px solid purple;*/
    padding: 0.5em 0.5em 0.5em 1em;
    border-bottom: 3px solid grey;

}

.productImage {
    width: 150px;
    height: 150px;
    border: 1px solid lightgrey;
}

.productText {
    flex-grow: 1;
    padding: 2px;
    /*border: 2px solid red;*/
}

.productTitle {
    padding: 0 3px 3px 3px;
}

.productCategory {
    padding: 0 3px 3px 3px;
}

.productDescription {
    padding: 0 3px 3px 3px;
}

.productPrice {
    text-align: right;
    color: rgb(252, 99, 88);
    /*border: 2px solid darkgreen;*/
    border-top: 3px solid grey;
    padding-top: 1em;
    padding-right: 0.5em;
}


.product {
    display: flex;
    border: 3px solid grey;
    margin: 1.5em;
    padding: 5px;
    cursor: pointer;
}

.product:hover {
    box-shadow: 2px 3px 0 0 gray;
}

.products {
    text-align: left;
    /*border: 3px dashed saddlebrown;*/
    height: 100%;
    width: 100%;
    position: absolute;
}


.buttonsAndImageContainer {
    /*border: 3px solid yellow;*/
    padding-left: 0.5em;
    display: inline-block;
    height: 100%;
    width: 30%;


}

.selectedProductImage {
    width: 350px;
    height: 350px;
    border: 2px solid lightgrey;
    margin-bottom: 10px;
    /*text-align: left;*/
}

.selectedProductImage img {
    height: 100%;
    width: 100%;
}

.buttonsContainer {
    /*border: 3px dashed orange;*/
    display: flex;

}

.xxeButton {
    margin: 2px;
    height: 40px;
    width: 130px;
    font-size: 17px;
    border-radius: 10%;
    text-align: left;
}

.productTextContainer {
    flex-grow: 1;
    /*border: 3px solid darkblue;*/
    height: 100%;
    width: 70%;
    padding: 5px;
}

.selectedProductName {
    font-size: 26px;
    font-weight: bold;
    /*border: 2px solid deeppink;*/
    border-bottom: 1px solid grey;
    padding: 5px;
    height: 50px;

}

.selectedProductPrice {
    text-align: right;
    padding: 5px 10px 5px 5px;
    font-size: 20px;
    color: #f36534;;
    font-weight: bold;
    /*border: 2px solid darkblue;*/
    height: 30px;

}

.selectedProductDescription {
    font-size: 18px;
    color: black;
    /*border: 2px solid darkred;*/
    border-bottom: 1px solid grey;

    padding: 5px;
    height: 70px;
}

.editProductInput {
    padding: 5px;
}

#xxe-injection-product-container {
    display: flex;
}